* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: #fff;
  letter-spacing: 1px;
}
button {
  background-color: #ff0e83;
  color: white;
  border: 1px solid white;
  padding: 13px 32px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s;
}
button:hover {
  background-color: white;
  color: black;
  border-color: #ff0e83;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 70px 0;
}
/* HEADER */
header {
  background-color: #4e2a84;
  padding: 20px 0;
}
.header__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__content ul {
  list-style: none;
}
.header__content ul li {
  display: inline;
  margin: 0 1rem;
}
.header__content ul a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.5s;
  /* transition-property: color;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function: linear; */
}
.header__content ul a:hover {
  color: #ff0e83;
}
.header__content ul .active a {
  color: #ff0e83;
}
.header__content p {
  color: #fff;
  font-size: 2.3rem;
}
/* CAROUSEL */
.carousel {
  background-image: url("../img/b3.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__content h1 {
  font-size: 3.5rem;
}
.carousel__content p {
  font-size: 1.1rem;
  padding: 23px 0;
}
/* INTRO */
.intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.intro__ab1 {
  grid-column: 2 / span 2;
}
.intro__bake {
  grid-column: 1 / span 2;
}
.intro__ab4 {
  grid-column: 3 / span 2;
}
.intro__item img {
  width: 100%;
  display: block;
}

/* canhgiua intro */
.intro__item {
  display: flex;
  text-align: center;
  align-items: center;
}
.intro__item h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.intro__text {
  padding: 0 32px;
}
.intro__item p {
  font-size: 0.875rem;
  color: #c1c1c1;
  line-height: 29px;
}
.intro .intro__item:first-child,
.intro .intro__item:nth-child(8) {
  background-color: #4e2a84;
}
.intro .intro__item:nth-child(3) {
  background-color: #ff0e83;
}
.intro .intro__item:nth-child(4) {
  background-color: #ed6498;
}
.intro .intro__item:nth-child(6) {
  background-color: #836eaa;
}
/* NUMBER */
.number {
  padding: 70px 0;
}
.number__content {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}
.number__item p:first-of-type {
  font-size: 2rem;
  color: #4e2a84;
  font-weight: 600;
}
.number__item p:last-of-type {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 24px 0;
}

/* SERVICES */
.services {
  background-image: url("../img/s1.jpg");
  background-size: cover;
  text-align: center;
}
.services h2 {
  color: white;
}
.services__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.services__item {
  padding: 0 20px;
}
.services__item i {
  width: 105px;
  height: 105px;
  line-height: 105px;
  border: 1px solid #4e2a84;
  background-color: #fff;
  color: #4e2a84;
  font-size: 3.75rem;
  border-radius: 50%;
  transition: all 0.5s;
}
.services__item h3 {
  font-size: 1.5rem;
  margin: 17px 0;
  font-weight: 700;
}
.services__item p {
  font-size: 0.875rem;
  line-height: 25px;
  margin-bottom: 12px;
}
.services__item button {
  padding: 12px 27px;
  border-width: 4px;
}
.services__item:hover i {
  color: #ff0e83;
}

/* GALLERY */
.gallery {
  padding: 70px 0;
}
.gallery__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 15px;
}
.gallery__g1 {
  grid-column: 1 / 3;
}
.gallery__g6 {
  grid-column: 3 / 5;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery__item {
  position: relative;
  /*  */
  overflow: hidden;
  /* an het tat ca the con lố ra khỏi vùng của thẻ cha phần lố sẽ ẩn đi */
}
.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 132, 163, 0.2);
  color: white;
  padding: 38px 28px;
  text-align: right;
}
.gallery__overlay p {
  position: absolute;
  bottom: 38px;
  right: 28px;
  font-size: 0.75rem;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay p {
  transform: translateY(0);
  opacity: 1;
}
.gallery__overlay h3 {
  font-size: 1.875rem;
  transform: translateY(20px);
  transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay h3 {
  transform: translateY(0);
}
.gallery__overlay h3 span {
  font-weight: 300;
}
.gallery__overlay h3::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: white;
  margin-top: 10px;
  /* dichuyen */
  transform: translateY(20px);
  transition: all 0.5s;
  opacity: 0;
}
.gallery__item:hover .gallery__overlay h3::after {
  transform: translateY(0);
  opacity: 1;
}
